.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TitleCard{
  text-align: center;
  border-radius: 5%;
}

.ImgCard{
  padding: 5%;
  border-radius: 10%;
  box-shadow: 2px 4px 5px black;
}

.imgLogo{
  height: 14rem;
  width: auto;
  margin-top: 30%;
}

.Slogan{
  margin-top: 5%;
  font-style: italic;
}

.CardDiv{
  margin-bottom: 4vh;
}
