.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TitleCard{
  text-align: center;
}

.ImgCard{
  padding: 5%;
  border-radius: 10%;
  box-shadow: 2px 4px 5px black;
}

.imgLogo{
  height: 14rem;
  width: auto;
  margin-top: 30%;
}

.Slogan{
  margin-top: 5%;
  font-style: italic;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

